.row
  .col-md-8
    .embedded_video
      %embed{ :allowfullscreen => "true", :height => "100%", :src => video_url, :title => "video", :type => "video/mp4", :width => "100%", :wmode => "transparent" }
